{{ $dateTruncateDuration := time.ParseDuration "24h" }}
{{ $truncatedPublishDate := .PublishDate.Truncate $dateTruncateDuration }}
{{ $truncatedLastmodDate := .Lastmod.Truncate $dateTruncateDuration }}
{{ $showLastEditRow := $truncatedLastmodDate.After $truncatedPublishDate}}
{{ $maxNumberOfTaxonomyTerms := 4 }}

<div class="post-card" onclick="location.href='{{ .RelPermalink}}'">
    <h2 class="post-card-title"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
    <div class="post-card-meta-info">
        <div class="post-card-type">
            <span>Type:</span>
            <span>
                {{- if in (.Site.Param "no-inflect-types") .Section -}}
                    {{ (.Site.GetPage .Section).LinkTitle }}
                {{- else -}}
                    {{ (.Site.GetPage .Section).LinkTitle | singularize }}
                {{- end -}}
            </span>
        </div>
        <div class="post-card-inline-meta">
            <div class="post-card-time">
                <span>Published:</span>
                <time datetime="{{ $truncatedPublishDate.Format `2006-01-02T15:04:05-07:00` }}">
                    {{ $truncatedPublishDate.Format "2006-Jan-02" }}
                </time>
            </div>
            {{if $showLastEditRow }}
                <div class="post-card-time">
                    <span>Last edit:</span>
                    <time datetime="{{ $truncatedLastmodDate.Format `2006-01-02T15:04:05-07:00` }}">
                        {{ $truncatedLastmodDate.Format "2006-Jan-02" }}
                    </time>
                </div>
            {{end}}
        </div>

        <div class="post-card-hidden-meta">
            {{/* This div has to be here because we can only animate "grid-template-rows" and */}}
            {{/* currently can't pass the number to be able to repeat the template */}}
            <div> 
                {{ range $taxonomyName, $terms := .Site.Taxonomies }}
                    {{ $taxonomy := $.GetTerms $taxonomyName }}
                    {{ $taxonomyLen := len $taxonomy }}
                    {{ if gt $taxonomyLen 0}}
                        <div class="post-card-taxonomy">
                            <span>{{- ($.Site.GetPage $taxonomyName).LinkTitle -}}:</span>
                            {{- if ge $maxNumberOfTaxonomyTerms $taxonomyLen -}}
                                {{- range $index, $page := ($taxonomy | first $maxNumberOfTaxonomyTerms) }}
                                    <span>
                                        {{- $page.LinkTitle -}}
                                        {{- if lt $index (sub $taxonomyLen 1) -}},{{- end }}
                                    </span>
                                {{- end -}}
                            {{- else -}}
                                {{- range $index, $page := ($taxonomy | first (sub $maxNumberOfTaxonomyTerms 1)) }}
                                    <span>{{- $page.LinkTitle }},</span>
                                {{- end }}
                                <span>... </span>
                            {{- end -}}
                        </div>
                    {{end}}
                {{end}}
            </div>
        </div>
    </div>
    <br/>
    <div class="post-card-summary">
        {{ .Summary }}
        {{ if .Truncated }}(...){{end}}
    </div>
</div>
