{{ define "custom-head" }}
  {{- with resources.Get "css/list.css" }}
    {{ partial "head/load-css.html" .}}
  {{- end }}

  {{- with resources.Get "css/index-list-item.css" }}
    {{ partial "head/load-css.html" .}}
  {{- end }}
{{end}}

{{ define "main" }}
  <h1 id="list-title">{{ .Title }}</h1>

  <div id="list-container">
    {{ range where .Site.Home.Sections ".Section" "!=" "index" }}
      <div class="list-item" onclick="location.href='{{ .RelPermalink }}'">
        <h2 class="list-item-title">
          {{- if in (.Site.Param "no-inflect-types") .Section -}}
            <a href="{{.RelPermalink}}"> {{ .LinkTitle }} </a>
          {{- else -}}
            <a href="{{.RelPermalink}}"> {{ .LinkTitle | singularize }} </a>
          {{- end -}}
        </h2>
      </div>
    {{ end }}
  </div>
{{ end }}
