:root {
    /* Page background */
    --main-bg-color-light:hsl(30, 25%, 90%);
    --main-bg-color-dark:hsl(250, 15%, 10%);
    --main-bg-color: light-dark(var(--main-bg-color-light), var(--main-bg-color-dark));

    /* Background for elements in the page e.g. inline code */
    --secondary-bg-color-light:hsl(30, 10%, 75%);
    --secondary-bg-color-dark:hsl(250, 20%, 20%);
    --secondary-bg-color: light-dark(var(--secondary-bg-color-light), var(--secondary-bg-color-dark));

    /* Most text is written in this color - main article body */
    --primary-font-color: light-dark(#080808, #f8f8f8);

    /* Slightly less important text in this color - creation date, image caption  */
    --secondary-font-color: light-dark(#404040, #b0b0b0);

    /* Less important text in this color - ? */
    --tertiary-font-color: light-dark(#808080, #707070);

    /* Most text that needs an accent color - inline code */
    --primary-accent-font-color: light-dark(hsl(125, 100%, 30%), hsl(125, 100%, 50%));
    
    /* Secondary accent */
    --secondary-accent-font-color: light-dark(hsl(260, 90%, 22%), hsl(150, 100%, 70%));
    /* Tertiary accent */
    --tertiary-accent-font-color: light-dark(red, blue);

    /* link colors */
    --link-normal-color: light-dark(hsl(350, 100%, 30%), hsl(150, 100%, 40%));
    --link-hover-color: light-dark(hsl(20, 100%, 50%), hsl(330, 80%, 60%));

    /* Background highlight of items on list pages */
    --item-highlight-bg-color: light-dark(rgba(0, 0, 0, 0.07), hsla(0, 0%, 100%, 0.03));

    /* Border color of items on list pages */
    --item-border-color: var(--secondary-font-color);

    /* Width of the main content on the page */
    --main-content-width: calc(100% - 40px);
}

.dark {
    color-scheme: dark;
}

.light {
    color-scheme: light;
}

.hidden {
    display: none;
}

.full-width {
    width: 100%;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    :root {
        --main-content-width: 500px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    :root {
        --main-content-width: 600px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    :root {
        --main-content-width: 700px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    :root {
        --main-content-width: 1000px;
    }
}

/* Extra Extra large devices (large laptops and desktops, 2200px and up) */
@media only screen and (min-width: 2200px) {
    :root {
        --main-content-width: 1300px;
    }
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Bold-Italic.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Bold-Italic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Bold.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-ExtraBold-Italic.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-ExtraBold-Italic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-ExtraBold.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Italic.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Medium-Italic.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Medium-Italic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Medium.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
